# Terraform関連
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
crash.log
crash.*.log
*.tfvars
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc