apiVersion: batch/v1
kind: Job
metadata:
  name: db-migrator-job
spec:
  template:
    spec:
      containers:
        - name: db-migrator
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 200m
              memory: 200Mi
