apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base

patches:
  - path: ingress.yaml
    target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: cp-ingress

#helmCharts:
#  - name: aws-load-balancer-controller
#    repo: https://aws.github.io/eks-charts
#    version: 1.13.1
#    releaseName: aws-load-balancer-controller
#    namespace: kube-system
#    valuesFile: values.yaml
