apiVersion: apps/v1
kind: Deployment
metadata:
  name: slack-metrics-deployment
spec:
  template:
    spec:
      containers:
        - name: slack-metrics
          resources:
            requests:
              cpu: 50m
              memory: 100Mi
            limits:
              cpu: 100m
              memory: 200Mi