apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: slack-metrics-hpa
  namespace: app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: slack-metrics-deployment
  minReplicas: 2
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 0  # スケールアップを即時に行う
      policies:
        - type: Percent
          value: 100
          periodSeconds: 15
    scaleDown:
      stabilizationWindowSeconds: 60  # スケールダウンの安定化時間を1分に設定
      policies:
        - type: Pods
          value: 1  # 1分間に1 Podずつ削減
          periodSeconds: 60
